[submodule "src/NERDTree"]
	path = src/NERDTree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "src/fuzzyfinder_textmate"]
	path = src/fuzzyfinder_textmate
	url = https://github.com/jamis/fuzzyfinder_textmate.git
[submodule "src/fuzzy_file_finder"]
	path = src/fuzzy_file_finder
	url = https://github.com/jamis/fuzzy_file_finder.git
